# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# ID
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Database volumes (if any local)
postgres_data/

# Docker
*.pid

# Python packaging
build/
dist/
*.egg-info/

# Testing / cache
.pytest_cache/
.mypy_cache/